<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
        {% block stylesheets %}
        <link rel="stylesheet" href="/assets/css/styles.css">
        {% endblock %}

        {% block javascripts %}
{% block importmap %}{{ importmap('app') }}{% endblock %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        {% endblock %}

    </head>
    <body>
    <div class="container-auth">
        <div class="row" style="height:100%">
            <div class="col-sm-6" style="text-align: center;">
                <img src="/assets/img/logo-header.png" alt="easyloc" class="logo-auth"></br>
                <img src="/assets/img/harpie-text.png" alt="easyloc" class="logo-text-harpie"><br><br>
                <h4 class="h-auth" style="font-size: 2rem !important;">Bienvenue dans l'univers de l'innovation numérique ! Connectez-vous pour explorer une expérience unique alliant expertise technique et créativité.</h4>
            </div>
            <div class="col-sm-6 form-auth d-flex justify-content-center align-items-center" style="min-height: 100vh;">
                <form method="post" style="width: 534px;">
                    <div class="row">
                        <h3 class="marg">Inscription</h3><br>
                        <h6 class="marg">Vous avez déja un compte?<a href="{{ path('app_login')}}">Connectez-vous</a></h6>
                        <div class="col-sm-8 marg">
                            <label class="label">Nom</label>
                            <input type="text" placeholder="Votre nom" name="register[lastname]" id="inputText" class="form-control input" autocomplete="email" required autofocus>
                        </div>
                        <div class="col-sm-8 marg">
                            <label class="label">Prénom</label>
                            <input type="text" name="register[firstname]" id="inputText" placeholder="Votre prénom" class="form-control input" autocomplete="current-password" required>
                        </div>
                        <div class="col-sm-8 marg">
                            <label class="label">Email</label>
                            <input type="email" placeholder="Votre email" name="register[email]" id="inputEmail" class="form-control input" autocomplete="email" required autofocus>
                        </div>
                        <div class="col-sm-8 marg">
                            <label class="label">Mot de passe</label>
                            <input type="password" name="register[password]" id="inputPassword" placeholder="Votre mot de passe" class="form-control input" autocomplete="current-password" required>
                        </div>
                        {{ form_row(form._token) }}
                        <div class="button">
                            <button type="submit" class="btn btn-primary btn-co">Je m'inscris</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </body>
</html>
