{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <section class="harpie">
    </section>
    <section class="metier">
        <div class="row">
            <div class="col-sm-8">
            <h1>Notre Métier</h1><br>
                <p>Harpie Tech accompagne les entreprises dans leur transformation digitale et leur développement commercial. Harpie Tech conseille les responsables de l’entreprise afin de moderniser leur métier et leur organisation en développant la culture de l’entreprise autour du digital.</p>
                <p>La transformation digitale permet aux entreprises d’améliorer leur rentabilité, leur vitesse d’analyse et d’exécution mais aussi de les rendre plus agiles pour faire face aux changements et à la concurrence.</p>
                <p>Nous accompagnons les entreprises dans la performance digitale en analysant :</p>
                <p><strong> - Leur Compétitivité: </strong>Veiller à garder ses parts de marché et faire le nécessaire pour les augmenter. Savoir engager une nouvelle stratégie pour accroître les ventes</p>
                <p><strong> - Leur Croissance: </strong>Identifier les leviers pour apporter une valeur ajoutée aux services et produits proposés par l’entreprise</p>
                <p><strong> - Leur Innovation: </strong>Utiliser les outils digitaux pour industrialiser le fonctionnement de son entreprise (suivre ses livraisons, gérer des retours ou des remboursements, sécuriser les paiements, consulter et commander à distance…)</p>
                <p><strong> - Leur Rentabilité: </strong>Fidéliser et diversifier sa clientèle. Contrôler les coûts des frais fixes pour les minimiser au maximum. Identifier des nouveaux marchés et des profils clients. d’activités et les bilans financiers sont publiés chaque année sur le site internet de l’association. </p>
            </div>
            <div class="col-sm-4">
                <img src="/assets/img/Portfolio Update-bro.png" alt="HARPIE PHONE" class="propos-icon">
            </div>
        </div><br>
        <div class="row">
            <div class="col-sm-4">
                <img src="/assets/img/Social strategy-bro.png" alt="HARPIE PHONE" class="propos-icon">
            </div>
            <div class="col-sm-8">
                <h1>Notre Approche</h1><br>
                <p>Nous sommes au service de nos clients et de l’excellence opérationnelle dans la réalisation de leurs projets. Nos clients sont au centre de notre attention et chaque client est unique pour nous, c’est pourquoi nous mettons un point d’honneur à personnaliser l’accompagnement de tous. Pour mieux répondre à nos clients et réinventer notre métier, nous développons la culture de l’innovation.</p>
                <p>Nous sommes bienveillants envers nos collaborateurs et notre gouvernance est une force qui nous permet de fidéliser nos experts en luttant contre l’épuisement professionnel et en préservant leur santé afin qu’ils soient opérationnels et efficaces.</p>
                <p>Nous priorisons l’analyse de la qualité de nos services pour mettre en place de nouvelles pratiques, au service de nos clients et de nos collaborateurs.</p>
            </div>
        </div></br>
        <div class="row">
            <div class="col-sm-8">
            <h1>Nos Experts</h1><br>
            <p>La digitalisation, c’est notre métier. Nos experts conçoivent et fournissent les solutions adaptées au fonctionnement de votre entreprise. Ils sont là pour vous écouter, vous conseiller et vous accompagner dans la transformation digitale de votre entreprise.
Notre expertise est basée sur la disponibilité, la confiance et le conseil dans l'optique d'un partenariat durable.</p>
            </div>
            <div class="col-sm-4">
                <img src="/assets/img/Experts-bro.png" alt="HARPIE PHONE" class="propos-icon">
            </div>
        </div><br>
    
    </section>
   <section class="row services-section d-flex">
        <div class="col-sm-8" style="margin: auto;">
            <div class="row g-3 d-flex">
                <div class="service-item col-sm-3">
                    <img src="/assets/img/smartphone.png" alt="HARPIE PHONE" class="service-icon">
                    <h3 class="service-title">HARPIE PHONE</h3>
                    <p class="service-description">Le téléphone portable devient un 
outil presque indispensable dans
 notre quotidien et 80% des
connexions internet se font
 via smartphone.</p>
                </div>
                <div class="col-sm-1"></div>
                <div class="service-item col-sm-3">
                    <img src="/assets/img/transformation.png " alt="HARPIE PHONE" class="service-icon">
                    <h3 class="service-title">STRATEGIE DIGITALE</h3>
                    <p class="service-description">La stratégie digitale de votre
 entreprise est une des clefs 
de la réussite de votre business. </p>
                </div>
                <div class="col-sm-1"></div>
                <div class="service-item col-sm-3">
                    <img src="/assets/img/web-design.png" alt="HARPIE PHONE" class="service-icon">
                    <h3 class="service-title">HARPIE WEB</h3>
                    <p class="service-description">Le site internet est un élément 
central de la stratégie 
web-marketing. Il permet d’acquérir de
nouveaux clients, de les fidéliser, 
de leur apporter des informations
 et d’acheter les produits. </p>
                </div>
                <div class="col-sm-1"></div>
            </div>
        </div>
        <div class="col-sm-3 service-info">
        
            <h2 class="services-header">Nos Services</h2>
            <p class="services-text">Harpie Tech vous accompagne 
dans votre transformation digitale 
à travers 3 offres adaptées à vos 
besoins. <br><br>
La satisfaction de nos clients est 
une priorité, c’est pourquoi chacune
de nos offres est personnalisée.<br><br>
Nous nous adaptons à votre besoin
et mettons un point d’honneur à 
faire briller votre entreprise.

</p>
            <a href="#" class="services-link">Voir +</a>

        </div>
    </section>
<section class="footer">
    <div class="row">
        <div class="col-sm-3">
            <img src="/assets/img/logo-header.png" alt="easyloc" class="logo-footer">
            <p>Nous tenons à exprimer notre sincère grtitude pour votre visite sur notre site. Chez Harpie Tech, nous sommes passionnés par la communication web et sommes ravis de partager notre expertise avec vous. Merci de faire partie de notre communauté!</p>

        </div>
        <div class="col-sm-3" style="text-align: center;">
            <img src="/assets/img/google.png" alt="easyloc" class="logo-footer-google">
            <p>Harpie Tech</p>
            <p>97300 - Cayenne</p>
            <p>+33 7 68 99 19 69</p>
            <p>contact@harpie-tech.com</p>

        </div>
        <div class="col-sm-3" style="padding-top: 2%;text-align: center;">
           <strong class="menu" style="font-size: 1.7rem;">Menu</strong>
            <p style="margin-top: 4%;">A propos</p>
            <p>Nos services</p>
            <p>Blog</p>
            <p>Contact</p>
        </div>
        <div class="col-sm-3" style="padding-top: 2%;text-align: center;">
           <strong class="menu" style="font-size: 1.7rem;">Suivez-nous</strong><br>
            <div>
                <img src="/assets/img/twitter.png" width='33px'>
                <img src="/assets/img/insta.png" width='45px'>
                <img src="/assets/img/fb.png" width='45px'>
                <img src="/assets/img/linkedin.png" width='36px'>
            </div><br>
            <button type="button" class="btn btn-primary btn-footer">Rejoignez-nous</button>
        </div>
    </div>
    <p>Copyright @ 2023 - Harpie Tech - Mention légales</p>
</section>
{% endblock %}
