{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <section class="harpie">
    </section>
    <section class="metier">
        <div class="row align-items-center">
        <img src="/assets/img/harpie phone.png" style="width: 77%;margin: auto;margin-bottom: 4%;"><br>
            <div class="col-sm-8">
            <h1>Applications Mobiles</h1><br>
                <p>Le téléphone portable devient un outil presque indispensable dans notre quotidien et 80% des connexions internet se font via smartphone. Malgré que les sites internet s’adaptent de manière ergonomique au smartphone, ils n’offrent pas la fluidité et la performance d’une application mobile.</p>
                <p>Les applications mobiles offrent la possibilité de recevoir des notifications, des alertes mais aussi la possibilité d’utiliser toutes les options disponibles sur le téléphone (GPS, appareil photo, lecteurs multimédias…). Cela permet d’accéder à toutes les données.</p>
                <p>Aussi, il est possible d’utiliser une application sans connexion internet, ce qui permet de gagner du temps pour l’utilisateur et d’accéder plus rapidement à l’information.</p>
                <p>L’application mobile est accessible quel que soit le système d’exploitation du smartphone (IOS,Android, Windows…).</p>
                <p>L’application mobile est un excellent outil marketing qui permet de renforcer l’image de marque de votre entreprise et de se démarquer de la concurrence.</p>
                <p>Nous mettons en place l’application mobile adaptée à votre entreprise et à vos besoins en marketing. Nous experts travaillent avec votre cahier des charges et développent l’application mobile qui correspond à vos attentes.</p>
                </div>
            <div class="col-sm-4">
                <img src="/assets/img/Online world-bro.png" alt="HARPIE PHONE" class="propos-icon">
            </div>
        </div><br>
        <div class="row align-items-center">
            <img src="/assets/img/harpie web.png" style="width: 77%;margin: auto;margin-bottom: 4%;"><br>
            <div class="col-sm-4">
                <img src="/assets/img/Static website-bro.png" alt="HARPIE PHONE" class="propos-icon">
            </div>
            <div class="col-sm-8">

                <h1>Sites Internet</h1><br>
                <p>Le site internet est un élément central de la stratégie web-marketing. Il permet d’acquérir de
                    nouveaux clients, de les fidéliser, de leur apporter des informations et d’acheter les produits. Il est un
                    élément clé pour la notoriété de l’entreprise.</p>
                                    <p>Via notre offre Harpie Web nous vous proposons :</p>
                                    <p> La Création de votre site web : mise en place de l’architecture de votre site internet,
                    référencement du site sur les moteurs de recherche, design correspondant à la charte
                    graphique et aux valeurs de votre entreprise, site internet responsive qui s’adapte à l’écran à
                    partir duquel on le consulte (ergonomie adaptative), aide pour la conception des contenus</p>
                                    <p> La Refonte de votre site web : analyse du site existant et de sa performance, renforcement
                    de votre identité visuelle et votre image de marque, refonte de l’architecture et du design au
                    besoin</p>
                                    <p> La Maintenance de votre site web : amélioration en continue de votre site internet pour
                    conserver et accroitre sa performance mais aussi moderniser ses fonctionnalités et être
                    toujours « à la page », en parallèle nous travaillons sur le référencement de votre site avec
                    les outils de SEO</p>
                                    <p>Que vous ayez besoin d’un site « Vitrine » ou d’un site « E-commerce », notre équipe d’experts en
                    création de sites Internet est qualifiée pour travailler avec des CMS et des outils de conception
                    complets et pointus, pour réaliser avec vous un site qui véhicule vos valeurs et qui marque les
                    esprits.</p>
                    <p>Outils principaux que nous utilisons : Wordpress | Magento | Symfony | Dotnet | Prestashop |
                    Drupal | Webdesign ainsi que leurs outils de référencement associés (+ web analytics, amazon seo,
                    référencement international…)</p>
                    <h1>Logiciels de Gestion</h1><br>
                    <p>Vous avez besoin d’un outil informatique dédié à la gestion de votre entreprise au quotidien ? Harpie Tech le réalise sur mesure pour vous ! Contactez-nous </p>
                                        <h1>Référencement</h1><br>
                                        <p>Vous êtes satisfaits de votre site internet mais il n’est pas assez visible ? Nous avons des offres spécial “référencement” où nous travaillons sur la visibilité de votre site internet. Contactez-nous  </p>
                </div>
        </div></br>
        <div class="row align-items-center">
            <img src="/assets/img/harpie digital.png" style="width: 77%;margin: auto;margin-bottom: 4%;"><br>
            <div class="col-sm-8">
            <h1>Audit et Conseil</h1><br>
            <p>La stratégie digitale de votre entreprise est une des clefs de la réussite de votre business. Harpie Tech, expert dans son domaine, vous aide à définir une stratégie efficace et adaptée à votre métier. Contactez-nous </p>
            <h1>E-Marketing</h1><br>
            <p>Pour accroitre votre clientèle et répondre au mieux à leurs attentes, il est indispensable d’analyser leurs besoins et de déployer les solutions. Nous vous aidons à mettre en place une stratégie e-marketing efficace. Contactez-nous</p>
            <h1>Accompagnement</h1><br>
            <p>Vous avez besoin d’un prestataire solide pour vous accompagner au quotidien dans votre développement digital ? Harpie Tech est votre allié du quotidien. Nous vous accompagnons sur l’ensemble du parcours de digitalisation de votre entreprise. Nous sommes également là pour vous supporter après la réalisation du projet. Contactez-nous</p>
            </div>
            <div class="col-sm-4">
                <img src="/assets/img/Online world-amico.png" alt="HARPIE PHONE" class="propos-icon">
            </div>
        </div><br>
    
    </section>
<section class="footer">
    <div class="row align-items-center">
        <div class="col-sm-3">
            <img src="/assets/img/logo-header.png" alt="easyloc" class="logo-footer">
            <p>Nous tenons à exprimer notre sincère grtitude pour votre visite sur notre site. Chez Harpie Tech, nous sommes passionnés par la communication web et sommes ravis de partager notre expertise avec vous. Merci de faire partie de notre communauté!</p>

        </div>
        <div class="col-sm-3" style="text-align: center;">
            <img src="/assets/img/google.png" alt="easyloc" class="logo-footer-google">
            <p>Harpie Tech</p>
            <p>97300 - Cayenne</p>
            <p>+33 7 68 99 19 69</p>
            <p>contact@harpie-tech.com</p>

        </div>
        <div class="col-sm-3" style="padding-top: 2%;text-align: center;">
           <strong class="menu" style="font-size: 1.7rem;">Menu</strong>
            <p style="margin-top: 4%;">A propos</p>
            <p>Nos services</p>
            <p>Blog</p>
            <p>Contact</p>
        </div>
        <div class="col-sm-3" style="padding-top: 2%;text-align: center;">
           <strong class="menu" style="font-size: 1.7rem;">Suivez-nous</strong><br>
            <div>
                <img src="/assets/img/twitter.png" width='33px'>
                <img src="/assets/img/insta.png" width='45px'>
                <img src="/assets/img/fb.png" width='45px'>
                <img src="/assets/img/linkedin.png" width='36px'>
            </div><br>
            <button type="button" class="btn btn-primary btn-footer">Rejoignez-nous</button>
        </div>
    </div>
    <p>Copyright @ 2023 - Harpie Tech - Mention légales</p>
</section>
{% endblock %}
